.container{
    position: relative;
}
.item-bottom{
    position: absolute;
    top: auto;
}
.img-title{
    position: absolute;
    color: rgb(22, 21, 21);
    text-align: center;
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 50%;
    letter-spacing: 3px;
  }
.img-fluid{
    max-width: 100%;
}
.container{
    position: relative;
}
#design-hide{
    display:none;
}
#dev-hide{
    display: none;
}
#product-hide{
    display: none;
}
.project-titie{
    opacity: 0;
}
.project-titie:hover{
    opacity: 1;
}
.text-apparance{
    opacity: 1;
}