@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600|Pacifico&display=swap&subset=latin-ext');
.container{
    position: relative;
}
h1{
    font-family: 'Pacifico';
}
h2{
    font-family: 'Pacifico';
}
p{
    font-family: 'Josefin Sans';
}
.item-bottom{
    position: absolute;
    top: auto;
}
.img-title{
    position: absolute;
    color: white;
    text-align: center;
    transform: translate(-50% ,-50%);
    left: 50%;
    top: 50%;
    letter-spacing: 3px;
  }
.img-fluid{
    max-width: 100%;
}
.container{
    position: relative;
}
#design-hide{
    display:none;
}
#dev-hide{
    display: none;
}
#product-hide{
    display: none;
}
.text-apperance{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
.project-titie{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
input[type="text"]{
    background: transparent;
}
textarea[type="text"]{
    background: transparent;
}
#show-alert{
    display: none;
}